@page "/profile"
@using AccountDataSerializer
@using ClassLibrary;
@using Microsoft.EntityFrameworkCore;
@using PSI_MobileApp.DataServices;
@using ProfileClasses
@using System.Collections.ObjectModel
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@inject IGetData data
@inject CurrentUserContainer CurrentUserContainer
@inject ExceptionLogger Logger
@inject IDbContextFactory<ProjectDatabaseContext> DbFactory
@implements IDisposable
<h3> </h3>
@if (profile != null)
{
    <h3> Profile Page </h3>
    <h2> @profile.Name; </h2>
    <MudText>Email: @profile.Email;</MudText>
    <MudText>Address: @profile.TypedAddress.City, @profile.TypedAddress.StreetName st. @profile.TypedAddress.StreetNumber;</MudText>
    <MudText>Phone Number: @profile.PhoneNumber;</MudText>
    <MudText>Cuisines:
        @foreach (var cuisine in profile.CuisineArray)
        {
            var last = profile.CuisineArray.LastOrDefault();
            if (cuisine != last)
                @(cuisine + ", ")
            else
                @cuisine
        };
    </MudText>
    <MudButton @onclick = "ChangeContactInfo">Change Contact Info</MudButton>
    <MudButton @onclick = "Logout">Logout</MudButton>
}
else
{
    <MudButton @onclick="Login" Variant="Variant.Filled"> Login </MudButton>
    <MudButton @onclick="Register" Variant="Variant.Filled"> Register</MudButton>
}



@code {
    public Profile profile;
    public void Register()
    {
        NavigationManager.NavigateTo("chooseaccounttype");
        StateContainer.TempAccount = new();
        StateContainer.TempProfile = new();
    }

    public void Logout()
    {
        CurrentUserContainer.Logout(Logger, DbFactory.CreateDbContext());
        NavigationManager.NavigateTo("profile");
    }

    public void ChangeContactInfo()
    {
        StateContainer.CreatingDistributor = false;
        NavigationManager.NavigateTo("inputcontactdata");
    }

    public void Login()
    {
        NavigationManager.NavigateTo("login");
    }
    protected override async Task OnInitializedAsync()
    {
        profile = await data.GetProfileById(CurrentUserContainer.UserId);
    }   
    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
