@page "/profile"
@using AccountDataSerializer
@using ClassLibrary;
@using Microsoft.EntityFrameworkCore;
@using ProfileClasses
@using System.Collections.ObjectModel
@inject StateContainer StateContainer
@inject NavigationManager NavigationManager
@inject CurrentUserContainer CurrentUserContainer
@inject ExceptionLogger Logger
@inject IDbContextFactory<ProjectDatabaseContext> DbFactory
@implements IDisposable
<h3> </h3>
@if (CurrentUserContainer.UserId != null)
{
    <h3> Profile Page </h3>
    <h2> @CurrentUserContainer.GetUserProfile().Name; </h2>
    <MudText>Email: @CurrentUserContainer.GetUserProfile().Email;</MudText>
    <MudText>Address: @CurrentUserContainer.GetUserProfile().TypedAddress.City, @CurrentUserContainer.GetUserProfile().TypedAddress.StreetName st. @CurrentUserContainer.GetUserProfile().TypedAddress.StreetNumber;</MudText>
    <MudText>Phone Number: @CurrentUserContainer.GetUserProfile().PhoneNumber;</MudText>
    <MudText>Cuisines:         
        @foreach (var cuisine in CurrentUserContainer.GetUserProfile().CuisineArray)
        {
            var last = CurrentUserContainer.GetUserProfile().CuisineArray.LastOrDefault();
            if (cuisine != last)
                @(cuisine + ", ")
            else
                @cuisine
        };
    </MudText>
    <MudButton @onclick = "ChangeContactInfo">Change Contact Info</MudButton>
    <MudButton @onclick = "Logout">Logout</MudButton>
}
else
{
    <MudButton @onclick="Login" Variant="Variant.Filled"> Login </MudButton>
    <MudButton @onclick="Register" Variant="Variant.Filled"> Register</MudButton>
}



@code {
    public void Register()
    {
        NavigationManager.NavigateTo("chooseaccounttype");
        StateContainer.TempAccount = new();
        StateContainer.TempProfile = new();
    }

    public void Logout()
    {
        CurrentUserContainer.Logout(Logger, DbFactory.CreateDbContext());
        NavigationManager.NavigateTo("profile");
    }

    public void ChangeContactInfo()
    {
        StateContainer.CreatingDistributor = false;
        NavigationManager.NavigateTo("inputcontactdata");
    }

    public void Login()
    {
        NavigationManager.NavigateTo("login");
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;
    }
}
