@page "/supplierlist"
@using AccountDataSerializer
@using ClassLibrary
@using Microsoft.EntityFrameworkCore
@using Microsoft.EntityFrameworkCore.Storage
@using Npgsql
@using MudBlazor
@using MudBlazorFix
@using PSI_MobileApp.DataServices;
@using PSI_MobileApp.Extensions
@using ProfileClasses
@using System.Collections.ObjectModel
@using System.Net.NetworkInformation
@using System.Diagnostics
@inject StateContainer StateContainer
@inject IdStateContainer IdContainer
@inject CurrentUserContainer CurrentUserContainer
@inject NavigationManager NavigationManager
@inject IGetData data
@implements IDisposable



<h3>Supplier List</h3>

@if (!connected || (Profiles == null) || (Distributors == null))
{ 
    
    <div>
        <input class="form-control" type="text" placeholder="Search")" />
    </div>

	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Rating</th>
                <th>Phone number</th>
                <th>Cuisines</th>
			</tr>
		</thead>
    </table>

    <MudOverlay Visible="true" DarkBackground="true" Absolute="true" >
        <MudStack AlignItems="AlignItems.Center">
            <MudProgressCircular Color="Color.Default" Indeterminate="true"/>
            <MudText>Loading...</MudText>
            <MudText>@errorOccured</MudText>
            <MudText>@tryingToConnect</MudText>
            <MudButton Variant="Variant.Outlined" OnClick="Return">Return to Homepage</MudButton>
        </MudStack>
        
    </MudOverlay>
    
}
else
{
    <div>
        <input class="form-control" type="text" placeholder="Search" @bind="Search" @oninput="(e) => SearchCommand(e.Value.ToString())"/>
    </div>

    <MudTable Items="SearchResults" Hover="true" Breakpoint="Breakpoint.Sm" OnRowClick="@GoToDetailOnClick"  LoadingProgressColor="Color.Info" T="Profile">
		<HeaderContent>
				<MudTh>Name</MudTh>
				<MudTh>Rating</MudTh>
                <MudTh>Phone number</MudTh>
                <MudTh>Cuisines</MudTh>
                <MudTh>Subscribe</MudTh>
		</HeaderContent>
        <RowTemplate>
            <MudTd>@context.Name</MudTd>
            <MudTd><MudRating ReadOnly="true" Color="Color.Dark" SelectedValue=@Convert.ToInt32(Distributors.Where(d => d.Id == context.Id).FirstOrDefault().Rating)></MudRating></MudTd>
            <MudTd>@context.PhoneNumber</MudTd>
            <MudTd>
                @foreach (var cuisine in context.CuisineArray)
                {
                    @cuisine
                    <br/>
                }
            </MudTd>
            <MudTd>
                @if (Profile != null && Profile.Subscriptions != null)
                {
                    @if (Profile.Subscriptions.Contains(Distributors.First(d => d.Id == context.Id)))
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" class="btn btn-primary" @onclick="()=>ChangeSubscriptionStatus(data.GetDistributorsById(context.Id).Result)">Unsubscribe</MudButton>
                    }
                    else
                    {
                        <MudButton Variant="Variant.Filled" Color="Color.Secondary" class="btn btn-primary" @onclick="()=>ChangeSubscriptionStatus(data.GetDistributorsById(context.Id).Result)">Subscribe</MudButton>
                    }
                }
            </MudTd>
        </RowTemplate>
           

    </MudTable>
}


@code {
    // private AccountDataSerializer<Profile> _dataSerializer;
    private ObservableCollection<Profile> _searchResult;
    private string canNotConnectText = string.Empty;
    private string errorOccured = string.Empty;
    private string tryingToConnect = string.Empty;
    private bool connected;
    public Profile Profile { get; set; }
    public ObservableCollection<Profile> SearchResults
    {
        get
        { return _searchResult; }
        set
        {
            _searchResult = value;

            //onpropertychanged();
        }
    }

    public ObservableCollection<Distributor> Distributors
    {
        get; private set;
    }

    public ObservableCollection<Profile> Profiles
    {
        get; private set;
    }

    protected override async Task OnInitializedAsync()
    {
        ActivateTestConnection();
        Profile = CurrentUserContainer.GetProfileFromWeb();
        StateContainer.OnChange += StateHasChanged;
    }


    public string Search { get; set; }

    public void SearchCommand(string search)
    {
        SearchResults = DataSearch.getSearchResults<Profile>(Profiles, searchQuery: search);
    }


    private void GoToDetailOnClick(TableRowClickEventArgs<Profile> tableRowClickEventArgs)
    {
        IdContainer.OnChange += StateHasChanged;
        IdContainer.Id = tableRowClickEventArgs.Item.Id;
        NavigationManager.NavigateTo("/supplierdetails");
    }

    public void ChangeSubscriptionStatus(Distributor distributor)
    {
        if (Profile.Subscriptions.Contains(distributor))
        {
            Profile.Subscriptions.Remove(distributor);
        }
        else
        {
            Profile.Subscriptions.Add(distributor);
        }
        //context.SaveChanges();
    }

    public void Dispose()
    {
        StateContainer.OnChange -= StateHasChanged;

    }

    public void Return()
    {
        //tryingToConnect = "Trying to reconnect..."; // don't know if should leave it like this or remove it since it returns back to homepage.
        StateHasChanged();
        NavigationManager.NavigateTo("/", true);

    }


    async void ActivateTestConnection()
    {
        await Task.Run(async () =>
        {
            while (true)
            {
                using (ProjectDatabaseContext context = new())
                {
                    connected = await context.TestConnection();
                    if (connected)
                        await GetDBData();
                    else
                        errorOccured = "A network error occured. Please try again.";
                    await InvokeAsync(StateHasChanged);
                    await Task.Delay(10000);
                }
            }
        });
    }

    async Task GetDBData()
    {

        Profiles = await data.GetDistributorProfiles();
        Distributors = await data.GetAllDistributors();

        SearchResults = Profiles;
        await InvokeAsync(StateHasChanged);
    }

}
